//Create this part of the site with a fix wigth!
// this will help so I don't need to worry in changes from mobile to desktop
//will only change how it appears with a use effect probably!
.PerfilDiv {
    z-index: 2;
    position: fixed;

    .BtnPerfil {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        background-color: $backgroundColor2;
        cursor: pointer;

        &.OpenPerfil {
            position: absolute;
            margin-left: (290px-60px);
        }

        .PerfilIcon {
            width: 15px;
            filter: $filterTextColor1;
        }
    }

    .PerfilContentDiv {
        width: 290px;
        height: 100vh;
        z-index: 5;
        display: flex;
        flex-direction: column;

        .PersonalInfo {
            display: flex;
            flex-direction: column;
            flex: 1;

            .BasicInfo {
                background-color: $backgroundColor2;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                padding-bottom: 15px;
                position: sticky;
                top: 0px;

                .Name {
                    font-family: $fontBold;
                    color: $textColor1;
                    padding-bottom: 5px;
                }

                .Title {
                    font-size: $fontSize12;
                    color: $textColor2;
                    padding-bottom: 2px;
                }
            }

            .AditionalInfo {
                background-color: $backgroundColor4;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 20px 10px 0px;
                flex: 1;

                .dividingLine {
                    margin: 0 auto;
                    border: none;
                    background-color: $backgroundColor1;
                    height: 2px;
                    width: 96%;
                }

                .Adress {
                    font-size: $fontSize12;
                    color: $textColor1;
                    padding-bottom: 10px;
                }

                .Copyright {
                    font-size: $fontSize12;
                    color: $textColor2;
                    padding: 15px 0;
                }

                .btnResumeDiv {
                    flex-direction: column;
                    align-items: stretch;
                    margin-top: auto;
                    width: 100%;
                    height:70px ;
                    margin-bottom: 15px;

                    .btnResume {
                        background-color: $backgroundColor4;
                        margin: 10px;
                        border-radius: 10px;
                        padding: 10px;
                        font-family: $fontBold;
                        color: $textColor2;

                        &:hover {
                            border: 2px solid $color1;
                        }

                        .DownloadIconDiv {
                            //display: inline;
                            //padding-left: 5px;
                            padding-top: 5px; //in case you want to take de inline option!
                            height: 21px;
                            filter: $filterTextColor2;
                        }

                        &:hover {
                            color: $textColor1;
                            cursor: pointer;

                            .DownloadIconDiv {
                                filter: $filterTextColor1;
                            }
                        }
                    }
                }


            }
        }
    }
}