.ToggleButtonDiv {
    padding: 3px;

    .Switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 24px;
        border-radius: 15px;
        background-color: $backgroundColor5;

        input {
            display: none;
            //use sibiling selector + to acess slider! To do this it must be set before slider css!

            &:hover+.Slider {
                box-shadow: 1px 1px 10px $color1;

                .On,
                .Off {
                    //the way to make this color be observed if the importante
                    color: $textColor1 !important;

                    &.Icon {
                        filter: $filterTextColor1 !important;
                    }
                }
            }

            &:checked+.Slider::before {
                transform: translateX(23.4px);
            }

            &:checked+.Slider {
                .On {
                    display: block;
                    color: $textColor2;
                    font-size: $fontSize12;
                    font-family: $fontBold;
                    padding-left: 8px;


                    &.Icon {
                        display: block;
                        margin-bottom: 5px;
                        height: 10px;
                        padding-left: 5px;
                        filter: $filterTextColor2;
                    }
                }

                .Off {
                    display: none;
                    transition: 0.4s;
                }
            }
        }

        .Slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 15px;
            background-color: $backgroundColor5;
            transition: 0.4s;
            display: flex;
            align-items: center;



            &::before {
                content: '';
                position: absolute;
                left: 2px;
                bottom: 2px;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background-color: $color1;

            }

            .On {
                display: none;
            }

            .Off {
                color: $textColor2;
                font-size: $fontSize12;
                font-family: $fontBold;
                margin-left: auto;
                padding-right: 8px;

                &.Icon {
                    display: block;
                    margin-bottom: 5px;
                    margin-left: auto;
                    height: 10px;
                    padding-left: 5px;
                    filter: $filterTextColor2;
                }
            }



        }
    }


}