.SideMenu {
    margin-left: auto;
    background-color: $backgroundColor2;
    display: flex;
    flex-direction: column;
    height: 60px;
    z-index: 1;

    &.openMenu {
        height: 100vh;
    }

    .MenuDiv {
        .BtnMenuDiv {
            filter: $filterTextColor1;
            //padding: 25px;
            height: 60px;
            width: 60px;
            justify-content: center;
            display: flex;
            align-items: center;
            cursor: pointer;

            @media screen and (min-width: $desktopBreakpoint ) {
                &:hover {
                    filter: $filterColor1;
                }

            }

            .MenuIcon {
                height: 15px;
                width: 15px;
            }
        }
    }

    .MenuContentDiv {
        flex: 1;
        display: flex;
        flex-direction: column;

        .MenuNavDiv {
            background-color: $backgroundColor4;
            flex: 1;
            padding-top: 20px;

            &.desktop{
                padding-top: 30px;
            }
        }

        
        .configMenu {
            display: flex;
            flex-direction: column;
            padding: 10px;

            &.openMenu {
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }
}