@import "../../public/fonts/fonts.scss";
@import "./variables.scss";
@import "../components/socialMedia/SocialMedia.scss";
@import "../components/perfilAvatar/PerfilAvatar.scss";
@import "../containers/Perfil/Perfil.scss";
@import "../pages/index.scss";
@import "../components/navBar/NavBar.scss";
@import "../containers/SideMenu/SideMenu.scss";
@import "../components/ToggleButton/ToggleButton.scss";
@import "../components//navBar/NavBarIten.scss";
@import "../components/headerBar/headerBar.scss";
@import "../pages/app";
@import "../pages/About/about.scss";
@import "../components/BtnColor1/btnColor1.scss";
@import "../pages/Contact/contact.scss";
@import "../components/formIten/formIten.scss";
@import "../components/projectCard/ToolInten.scss";
@import "../components/projectCard/ProjectCard.scss";
@import "../pages/Portfolio/portfolio.scss";
@import "../pages/Home/home.scss";
@import "../pages/Certificates/certificates.scss";
@import "../components/certificationCard/certificationCard.scss";

*{
  //dark ;//light;
  font-family: $fontRegular;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

strong {
  font-family: $fontBold;
}

.desktop {
 

  @media screen and (max-width: calc($desktopBreakpoint - 1px)) {
      display: none !important;
  }
}

.mobile {
  @media screen and (min-width: $desktopBreakpoint ) {
      display: none !important;
  }

 
}