.light {
  --background-color1: #f5f5ba;
  --background-color2: #fbfe9b;
  --background-color3: #ffec83;
  --background-color4: #fff267;
  --background-color5: #ffe062;
  --text-color1: #fafafc;
  --text-color2: #8c8c8e;
  --color1: #FFC107;
  --filterTextColor1:  brightness(50%) ;
  --filter-text-color2: invert(59%) sepia(2%) saturate(284%) hue-rotate(202deg) brightness(93%) contrast(93%);
  --filter-color1: brightness(0) saturate(100%) invert(75%) sepia(64%) saturate(1367%) hue-rotate(354deg) brightness(101%) contrast(101%);
}

.dark {
  --background-color1: #2c2c38;
  --background-color2: #24232e;
  --background-color3: #20202a;
  --background-color4: #191923;
  --background-color5: #1e1e28;
  --text-color1: #fafafc;
  --text-color2: #8c8c8e;
  --color1: #FFC107;
  // --color2: #fafafa ;
  --filterTextColor1: invert(100%) sepia(7%) saturate(1233%) hue-rotate(180deg) brightness(100%) contrast(98%);
  --filter-text-color2: invert(59%) sepia(2%) saturate(284%) hue-rotate(202deg) brightness(93%) contrast(93%);
  --filter-color1: brightness(0) saturate(100%) invert(75%) sepia(64%) saturate(1367%) hue-rotate(354deg) brightness(101%) contrast(101%);
}


$backgroundColor1: var(--background-color1);
$backgroundColor2: var(--background-color2);
$backgroundColor3: var(--background-color3);
$backgroundColor4: var(--background-color4);
$backgroundColor5: var(--background-color5);
$color1: var(--color1);
//$color2 :var(--text-color);
$desktopBreakpoint: 992px;

// font Variables
$fontLight: 'Poppins Light';
$fontRegular: 'Poppins Regular';
$fontBold: 'Poppins Bold';
$fontSize12: 12px;
$fontSize16: 16px;
$textColor1: var(--text-color1);
$textColor2: var(--text-color2);

//Filters to change color of svg images 
$filterTextColor1: var(--filterTextColor1);
$filterTextColor2: var(--filter-text-color2);
$filterColor1: var(--filter-color1);