.MainDiv {
    display: flex;

    .BodyDiv {
        position: absolute;
        
        @media screen and (min-width: $desktopBreakpoint ) {
            padding-left: 290px;
            padding-right: 75px;
            position: relative;

        }
    }
}