.Btn{
    //width: 100%;
    border: none;
    background-color: $color1;
    color: $backgroundColor1;
    border-radius: 6px;
    cursor: pointer;
    font-family: $fontBold;
    padding: 15px 0px;
    font-size: inherit;
    
    &:hover{
        background-color: $backgroundColor5;
        border: 1px solid $color1;
        color: $textColor1;

    }
}